	/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.tax-product-type, .single-product, .page, .search-results, .search-no-results,
.error404, .single-post, .archive {
	.content-area {
		display: flex;
		width: $fixed-width;
		margin: 0 auto;
		.site-main {
			flex-basis: 70%;
			padding: 50px 70px 30px 0;
		}
		.widget-area {
			border-left: $border__solid;
			flex-basis: 30%;
			padding-top: 30px;
		}
	}
}

.page .site-main{
	.entry-content {
		margin-top: 0;
		h2 {
			text-align: left;
			color: #000;
			margin-top: 0;
		}
		.grey-heading {
			text-transform: none;
			color: $color__mediumgrey-brand;
		}
	}
}

/* Blog Archive and Entry */

.blog .content-area  {
		.site-main {
			display: flex;
			width: $fixed-width;
			margin: 0 auto;
			.blog-content {
				flex-basis: 70%;
				padding: 50px 70px 30px 0;
				a {
					@include single-header-link;
					&:hover {
						@include single-header-link-hover;
					}
				}
			}
			.widget-area {
				border-left: $border__solid;
				flex-basis: 30%;
				padding-top: 30px;
			}
		}

	}

.entry-title {
	text-align: left;
	font-size: 28px;
	margin-bottom: 5px;
	a {
		@include single-header-link;
		&:hover {
			@include single-header-link-hover;
		}
	}
}

.entry-meta {
	font-family: $font__main;
	color: #808080;
}

.read-more {
	font-weight: bold;
}

.tags-links {
	margin-left: 30px;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comments-title {
	text-align: left;
	font-size: 28px;
	font-weight: bold;
	color: $color__mediumgrey-brand;
	margin-bottom: 0;
}
.comment-list {
	li {
		margin-top: 24px;
	}
	margin-left: 0;
	padding-left: 0;
	.comment-author-avatar {
		margin-right: 25px;
		width: 50px;
		height: 50px;
		img {
			width: 100%;
			border-radius: 50%;
		}
	}
}
.comment-body {
	display: flex;
	border-bottom: $border__dashed;
	.comment-content {
		width: 85%;
		p {
			white-space: wrap;
		}
		.comment-meta {

			.comment-author{
				cite {
					font-weight: bold;
					font-style: normal;
					font-family: $font__main;
				}
			}
		}
	}
}

.comment-metadata {
	time {
		font-family: $font__main;
		color: $color__mediumgrey-brand;
		font-weight: light;
	}
}

.comment-reply-title {
	margin-bottom: 0;
}

.comment-form {
	label {
		font-weight: bold;
		color: $color__mediumgrey-brand;
	}
}
/* Search and 404 Page*/


.search-results, .search-no-results {
	.page-title {
		text-transform: uppercase;
		padding-bottom: 15px;
		border-bottom: $border__dashed;
	}

	.entry-title {
		text-transform: none;
	}
}

.error404 {
	.page-content {
		margin-top: 0;
	}
	.widget_recent_entries, .widget_categories {
		padding: 0;
	}
	.widget_recent_entries {
		h2 {
			text-align: left;
		}
	}
}
