/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.content-area {
	display: flex;
	width: 1024px;
	margin: 0 auto;
	.site-main {
		padding: 30px 70px 30px 0;
		flex-basis: 70%;
		a {
			color: #db272a;
			text-decoration: none;

			&:hover {
				color: #400c0d;
				text-decoration: underline;
			}
		}
	}
	.widget-area{
		border-left: 1px solid #d3d3d3;
		flex-basis: 30%;
		padding-top: 30px;
	}
}

/* Blog Archive and Entry */


.entry-title {
	font-size: 28px;
	margin-bottom: 5px;
}

.entry-meta {
	font-family: 'open_sans', sans-serif;
	color: #808080;
}

.entry-content {
	blockquote {
		border-left: 7px solid #db272a;
		padding-left: 20px;
		margin: 0;
		font-size: 19.2px;
		color: rgb(161, 161, 161);
	}
}

.read-more {
	font-weight: bold;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.comments-title {
	font-size: 28px;
	font-weight: bold;
	color: grey;
}
.comment-list {
	margin-left: 0;
	padding-left: 0;
	.comment-author-avatar {
		margin-right: 25px;
		img {
			border-radius: 50%;
		}
	}
}
.comment-body {
	display: flex;
	border-bottom: 1px dashed #d2d2d2;
	.comment-content {
		.comment-meta {
			.comment-author{
				cite {
					font-weight: bold;
					font-style: normal;
					font-family: 'open_sans', sans-serif;
				}
			}
		}
	}
}

.comment-metadata {
	time {
		font-family: 'open_sans', sans-serif;
		color: grey;
		font-weight: light;
	}
}
