.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0;
    background-color: #333;
    color: #fff;
    font-size: 12.8px;
    font-family: 'open_sans', sans-serif;
}

.contact {
    width: 180px;
    height: auto;
    p {
    display: inline-block;
    }
}
