/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-radius: 5px;
	background-color: $color__brown-brand;
	box-shadow: none;
	padding: 8px 18px;
	font-family: $font__main;
	color: #fff;
	font-size: 16px;
	border: none;
	&:hover {
		text-decoration: underline;
		background-color: #6b1416;
		cursor: pointer;
	}
	&:active, &:focus {
		outline: none;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	margin-top: 5px;
	color: #666;
	border: $border__solid;
	border-radius: 3px;
	background-color: $color__background-secondary;
	&:focus {
		color: #111;
	}
}

textarea {
	padding-left: 3px;
	width: 100%;
}

.search-form {

	fieldset {
		padding-right: 0;
		width: 240px;
		border: none;
		width: 220px;
		height: 44px;
		label {
			width: 175px;
		}
		.fa.fa-search {
			color: $color__mediumgrey-brand;
		}
	}
	input {
		border: none;
		font-family: $font__main;
		font-weight: 100;
		font-style: normal;
		&:focus {
		outline: none;
		}
	}
}

.search-submit {
	background: none;
	box-shadow: none;
	border: none;
	font-size: 15px;
	padding: 5px;
}

.contact-form-wrap {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	textarea {
		margin-top: 5px;
		color: #666;
		border: $border__solid;
		border-radius: 3px;
		background-color: $color__background-secondary;
		&:focus {
			color: #111;
		}
	}
	input[type="text"],
	input[type="email"],
	input[type="url"] {
		height: 40px;
	}
	label {
		font-weight: bold;
		color: $color__mediumgrey-brand;
		span {
			color: $color__red-brand;
		}
	}
}

.contact-form-wrap {
	.name-email-wrap {
		display: flex;
		input[type="text"] {
			flex-basis: 45%;
		}
		input[type="email"] {
			flex-basis: 45%;
		}
	}
}
