/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-radius: 5px;
	background-color: $color__brown-brand;
	box-shadow: none;
	padding: 8px 18px;
	font-family: $font__main;
	color: #fff;
	font-size: 16px;
	border: none;
	&:hover {
		text-decoration: underline;
		background-color: #6b1416;
		cursor: pointer;
	}
	&:active, &:focus {
		outline: none;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
	margin-top: 5px;
	color: #666;
	padding-left: 10px;
	border: $border__solid;
	border-radius: 3px;
	background-color: $color__background-secondary;
	&:focus {
		color: #111;
	}
}

textarea {
	padding-left: 3px;
	width: 100%;
}

.search-form {
	fieldset {
		padding-right: 0;
		width: 220px;
		border: none;
		height: 44px;
		label {
			width: 175px;
		}
		.fa.fa-search {
			color: $color__mediumgrey-brand;
		}
	}
	input {
		padding-left: 10px;
		border: none;
		font-family: $font__main;
		font-weight: 100;
		font-style: normal;
		&:focus {
		outline: none;
		}
	}
}

.search-submit {
	background: none;
	box-shadow: none;
	border: none;
	font-size: 15px;
	padding: 5px;
	&:hover {
		background-color: transparent;
	}
}

/* Contact Form */

.contact-form-wrap {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	textarea {
		margin-top: 5px;
		color: #666;
		border: $border__solid;
		border-radius: 3px;
		background-color: $color__background-secondary;
		&:focus {
			color: #111;
		}
	}
	input[type="text"],
	input[type="email"],
	input[type="url"] {
		height: 40px;
	}
	label {
		font-weight: bold;
		color: $color__mediumgrey-brand;
		span {
			color: $color__red-brand;
		}
	}
}

/* Contact Form */
.wpcf7-form  {
	p {
		font-weight: bold;
		color: $color__mediumgrey-brand;
		span {
			color: $color__red-brand;
		}
	}
	input[type="text"],
	input[type="email"], {
		height: 40px;
		width: 100%;
	}
}

/* 404 Search Form */

.error404 .site-main {
	.search-form {
		fieldset {
			padding: 5.6px 0 12px 0;
			width: 440px;
			border: none;
			height: 44px;
			label {
				width: 175px;
			}
			.search-submit {
				background-color: $color__brown-brand;
				padding: 11px 18px;
				.fa.fa-search {
					color: #fff;
				}
				&:hover {
					background-color: #6b1416;
					cursor: pointer;
				}
				&:active, &:focus {
					outline: none;
				}
			}
		}
		input[type="search"] {
			width: 250px;
			height: 40px;
			padding-left: 10px;
			border: $border__solid;
			background-color: $color__background-secondary;
			font-family: $font__main;
			font-weight: bold;
			color: $color__mediumgrey-brand;
			&:focus {
			outline: none;
			}
		}
	}
}

/* Comment Form */

.comment-form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	.required {
		color: $color__red-brand;
	}
	p:not(:last-child) {
		display: flex;
		flex-direction: column;
	}
	input[type="text"],
	input[type="email"],
	input[type="url"] {
		height: 40px;
	}

	.comment-form-comment, .comment-form-url {
		flex-basis: 100%;
	}

	.comment-form-author, .comment-form-email {
		flex-basis: 48%;
	}
}
