/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border-radius: 5px;
	background-color: #400c0d;
	box-shadow: none;
	padding: 10px 20px;
	font-family: 'open_sans', sans-serif;
	color: #fff;
	font-size: 16px;
	border: none;
	&:hover {
		text-decoration: underline;
		background-color: #6b1416;
		cursor: pointer;
	}
	&:active, &:focus {
		outline: none;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	margin-top: 5px;
	color: #666;
	border: 1px solid #e1e1e1;
	border-radius: 5px;
	background-color: #fafafa;
	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

.search-form {

	fieldset {
		padding-right: 0;
		width: 240px;
		border: none;
		width: 220px;
		height: 44px;
		label {
			width: 175px;
		}
		.fa.fa-search {
			color: #808080;
		}
	}
	input {
		border: none;
		font-family: 'open_sans', sans-serif;
		font-weight: 100;
		font-style: normal;
		&:focus {
		outline: none;
		}
	}
}

.search-submit {
	background: none;
	box-shadow: none;
	border: none;
	font-size: 15px;
	padding: 5px;
}
