/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

.hero {
    background: url("../../assets/images/hero-bread.jpg");
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        font-size: 90px;
        text-transform: uppercase;
        color: #fff;
        text-shadow: 1px 2px 2px #808080;
    }
}

.product-info-container {
    padding-top: 40px;
    border-bottom: 1px solid #e1e1e1;
    .product-info {
        width: 1024px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        div {
            flex-direction: column;
            width: 100px;
            flex-basis: 22%;
            .product-img-wrapper {
                width: 80%;
                height: 125px;
                margin: 0 auto;
                img {
                    width: 100%;
                }
            }
            h3 {
                font-size: 20px;
                text-transform: uppercase;
                margin-bottom: 0;
                text-align: center;
                color: #400c0d;
            }
            p {
                margin-bottom: 0;
                a {
                    text-decoration: none;
                    color: #db272a;
                    &:hover {
                        color: #400c0d;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .front-page-cta {
        width: 1024px;
        margin: 40px auto;
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #fafafa;
            border: 1px solid #e1e1e1;
            border-radius: 5px;
            padding: 15px 0;
            p {
                margin-right: 20px;
            }
        }
    }
}

.latest-news {
    padding: 40px 0;
    background-color: #fafafa;
    border-bottom: 1px solid #e1e1e1;
    h2 {
        margin: 0;
    }
}

.latest-post-cube-container {
    display: flex;
    width: 1024px;
    margin: 50px auto;
    .latest-post-cube {
        flex-basis: 25%;
        height: 270px;
        overflow: hidden;
        border: 1px solid #e1e1e1;
    }
}

.latest-post-img {
    width: 256px;
    height: 200px;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
    }
}

.entry-meta-container {
    margin: 10px;
    p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin: 0;
        a {
            color: #808080;
            font-weight: bold;
            text-decoration: none;
            width: 98%;
            &:hover {
                 color: #db272a;
                 text-decoration: underline;
            }
        }
    }
     span {
         font-family: 'open_sans', sans-serif;
         color: #808080;

     }

}

.testimonials {
    padding: 40px 0;
    h2 {
        margin: 0;
    }
}

/* About Page */
.page-template-about {
    .site-main {
        width: 1024px;
        margin: 40px auto;
    }
}

.about-info-container {
    width: 1024px;
    margin: 0 auto;
    .about-two-columns {
        display: flex;
        justify-content: space-between;
        div {
            flex-basis: 47%;
            h3 {
                margin: 0;
            }
            p:nth-child(3) {
                color: #a1a1a1;
                margin-top: 0;
            }
        }
    }
    .our-story-container {
        margin-bottom: 60px;

    }
}

.about-page-cta {
    width: 1024px;
    margin: 30px auto;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fafafa;
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        padding: 15px 0;
        p {
            margin-right: 20px;
        }
    }
}
/* Product Archive Page */

.product-page-header {
    width: 1024px;
    margin: 0 auto;
    p {
        text-align: center;
    }
}

.product-categories {
    width: 1024px;
    padding: 0 120px;
    margin: 50px auto 30px auto;
    display: flex;
    justify-content: space-around;
    div {
        width: 150px;
        margin: 0 auto;
        .product-img-wrapper.small {
            width: 85%;
            a {
                &:hover {
                    cursor: pointer;
                }
                img {
                    width: 100%;
                }
            }
        }
        h3 {
            text-align: center;
            a {
                text-transform: uppercase;
                text-decoration: none;
                color: #400c0d;
                &:hover {
                    border-bottom: 2px solid #400C0D;
                }
            }
        }
    }
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto 60px auto;
    .product-square-wrap {
        flex-basis: 25%;
        border: 1px solid lightgrey;
        .product-type-price {
            display: flex;
            justify-content: space-between;
            background: url('../assets/images/dot.png') repeat-x bottom;
            padding: 5px 0;
            margin-top: 0;
            span {
                font-family: 'open_sans', sans-serif;
            }
            span:first-child {
                margin-left: 15px;
            }
            span:last-child {
                margin-right: 15px;

            }
        }
    }
}

/* Product Single */

.tax-product-type {
    .product-type-page-header {
        h1 {
            text-transform: uppercase;
            margin-bottom: 0;
        }
    }
}
