/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */

    .hero {
        background: url("../../assets/images/hero-bread.jpg");
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 90px;
            text-transform: uppercase;
            color: #fff;
            text-shadow: 1px 2px 2px #808080;
        }
    }

    .product-info-container {
        margin: 40px 0;
        border-bottom: 1px solid #e1e1e1;
        .product-info {
            width: 1024px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            div {
                flex-direction: column;
                width: 100px;
                flex-basis: 22%;
                .product-img-wrapper {
                    width: 80%;
                    height: 125px;
                    margin: 0 auto;
                    img {
                        width: 100%;
                    }
                }
                h3 {
                    font-size: 20px;
                    text-transform: uppercase;
                    margin-bottom: 0;
                    text-align: center;
                }
                p {
                    margin-bottom: 0;
                    a {
                        text-decoration: none;
                        color: #db272a;
                        &:hover {
                            color: #400c0d;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .front-page-cta {
            width: 1024px;
            margin: 40px auto;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #fafafa;
                border: 1px solid #e1e1e1;
                border-radius: 5px;
                padding: 15px 0;
                p {
                    margin-right: 20px;
                }
                a {
                    button {
                        border-radius: 5px;
                        background-color: #400c0d;
                        box-shadow: none;
                        padding: 15px 25px;
                        font-family: 'open_sans', sans-serif;
                        color: #fff;
                        font-size: 16px;
                        &:hover {
                            text-decoration: underline;
                            background-color: #6b1416;
                        }
                    }
                }
            }
        }
    }

    .page-header {
        text-align: center;
        h1 {
            text-transform: uppercase;
            font-size: 35px;
        }
    }
/* About Page */
.page-templage-about {
    .site-main {
        width: 1024px;
        margin: 0 auto;
    }
}

.about-info-container {
    width: 1024px;
    margin: 0 auto;
    .about-two-columns {
        display: flex;
        justify-content: space-between;
        div {

            flex-basis: 47%;
            h2 {
                color: #400c0d;
                margin: 0;
            }
            p:nth-child(3) {
                color: #a1a1a1;
                margin-top: 0;
            }
        }
    }
    .our-story-container {
        margin-bottom: 60px;
        h2 {
            text-align: center;
            font-size: 32px;
        }
    }
}

.about-page-cta {
    width: 1024px;
    margin: 30px auto;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fafafa;
        border: 1px solid #e1e1e1;
        border-radius: 5px;
        padding: 15px 0;
        p {
            margin-right: 20px;
        }
        a {
            button {
                border-radius: 5px;
                background-color: #400c0d;
                box-shadow: none;
                padding: 15px 25px;
                font-family: 'open_sans', sans-serif;
                color: #fff;
                font-size: 16px;
                &:hover {
                    text-decoration: underline;
                    background-color: #6b1416;
                }
            }
        }
    }
}
/* Product Archive Page */
.post-type-archive .site-main {
    margin: 0 auto;
}

.page-header {
    h1 {
        font-size: 32px;
    }
}

hr {
    margin: 50px 480px;
}

.product-categories {
    width: 1024px;
    padding: 0 120px;
    margin: 50px auto 30px auto;
    display: flex;
    justify-content: space-around;
    div {
        width: 150px;
        margin: 0 auto;
        .product-img-wrapper.small {
            width: 85%;
            img {
                width: 100%;
            }
        }
        h3 {
            text-align: center;
            a {
                text-transform: uppercase;
                text-decoration: none;
                color: #400c0d;
                &:hover {
                    border-bottom: 2px solid #400C0D;
                }
            }
        }
    }
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto 60px auto;
    .product-square-wrap {
        flex-basis: 25%;
        border: 1px solid lightgrey;
        .product-type-price {
            display: flex;
            justify-content: space-between;
            background: url('../assets/images/dot.png') repeat-x bottom;
            padding: 5px 0;
            margin-top: 0;
            span {
                font-family: 'open_sans', sans-serif;
            }
            span:first-child {
                margin-left: 15px;
            }
            span:last-child {
                margin-right: 15px;

            }
        }
    }
}

/* Contact Page */
.page {
    .content-area {
        display: flex;
        width: 1024px;
        margin: 0 auto;
        .site-main {

            flex-basis: 70%;
        }
        .widget-area {
            flex-basis: 30%;
            border-left: 1px solid #d3d3d3;
        }
    }
}
